<ion-header>
  <ion-toolbar color="brand">
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="8">
        <ion-card class="ion-padding" color="tertiary">
          <ion-card-header>
            <ion-card-title>Configs</ion-card-title>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col offset="1" size="10">
                <ion-card-content>
                  <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input clear-input></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Artefact</ion-label>
                    <ion-input clear-input></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Project</ion-label>
                    <ion-input clear-input></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Root Directory</ion-label>
                    <ion-input clear-input></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Author</ion-label>
                    <ion-input clear-input></ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-button color="primary" shape="round">SAVE</ion-button>
                  </ion-item>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
